.login {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

/*======== Greeting ==========*/
.login-greet-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-greeting {
  margin-right: 1rem;
}

#logout-btn {
  padding: 0.5rem 3rem;
}

/*======= Login Inputs ========*/
.login-input {
  padding: 0.5rem 1rem;
  width: 7.5rem;
  border-radius: 1rem;
  border: none;
  background-color: white;
  text-align: center;
  font-size: 1.1rem;
}

/*======= Logo ========*/
.logo {
  position: absolute;
  top: 1rem;
}

.logo img {
  width: 3rem;
  height: 3rem;
}
